{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<body>
<div class="card mb-3" style="max-width: 600px; max-height: 800px">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ object.image | media_filter }}" class="img-fluid rounded-start" alt="{{ 'object.image' }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{ object }}</h2>
                <p class="card-text">{{ object.description }}</p>
                <a href="{% url 'catalog:main' %}" class="card-link">Назад</a>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}