{% extends 'catalog/base.html' %}
{% block content %}
<div class="card mb-3" style="max-width: 600px; max-height: 800px">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ 'object_list.1.image' }}" class="img-fluid rounded-start" alt="{{ 'object_list.1.image' }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ object_list.1 }}</h5>
                <p class="card-text">{{ object_list.1.description }}</p>
                <p class="card-text"><small class="text-body-secondary">Цена - {{ object_list.1.price }} руб</small></p>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}