{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row row-cols-3 row-cols-md-3 g-1">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card" style="max-width: 18rem max-heigth: 18rem">
            <div class="card-body">
                <div class="col">
                    <img src="{{ object.image | media_filter }}" class="img-fluid rounded-start" title="{{ object.name }}" alt="{{ 'object.image' }}">
                </div>
                <h5 class="card-title">{{ object.name }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Цена: {{ object.price }}</h6>
                <p class="card-text">{{ object.description|slice:":100" }}</p>
                <td class="value">
                    <a class="btn" align ="left" href="{% url 'cards' object.pk %}" >О товаре</a>
                    <a class="btn" href="#">Добавить в корзину</a>
                </td>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
