{% extends 'catalog/base.html' %}
{% block content %}
<body>
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить продукт {{ object.name }}?</p>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                        <a href="{% url 'catalog:main' %}" class="btn btn-primary">Отмена</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}